STRIPE_SECRET_KEY=sk_live_REPLACE
STRIPE_PUBLISHABLE_KEY=pk_live_REPLACE
STRIPE_TEST_SECRET_KEY=sk_test_REPLACE
STRIPE_TEST_PUBLISHABLE_KEY=pk_test_REPLACE
STRIPE_WEBHOOK_SECRET=whsec_REPLACE
STRIPE_TEST_WEBHOOK_SECRET=whsec_REPLACE
PAYMENTS_API_KEY_LIVE=REPLACE_WITH_SEPARATE_64_HEX_CHARACTER_TOKEN
PAYMENTS_API_KEY_TEST=REPLACE_WITH_SEPARATE_64_HEX_CHARACTER_TOKEN
